--
-- PostgreSQL database dump
--

\restrict 3JHi4DNvJ423Veim7rhYyx0Ub1QQrquVLxS00MUrQAN1ftpPldAJKBjoVMoMWpG

-- Dumped from database version 18.0
-- Dumped by pg_dump version 18.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: proyectofinal
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO proyectofinal;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: activities; Type: TABLE; Schema: public; Owner: proyectofinal
--

CREATE TABLE public.activities (
    id bigint NOT NULL,
    nombre_actividad character varying(255) NOT NULL,
    descripcion text NOT NULL,
    precio numeric(8,2) DEFAULT '0'::numeric NOT NULL,
    fecha_inicio time(0) without time zone,
    fecha_fin time(0) without time zone,
    capacidad integer,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.activities OWNER TO proyectofinal;

--
-- Name: activities_id_seq; Type: SEQUENCE; Schema: public; Owner: proyectofinal
--

CREATE SEQUENCE public.activities_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.activities_id_seq OWNER TO proyectofinal;

--
-- Name: activities_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: proyectofinal
--

ALTER SEQUENCE public.activities_id_seq OWNED BY public.activities.id;


--
-- Name: activity_hotel; Type: TABLE; Schema: public; Owner: proyectofinal
--

CREATE TABLE public.activity_hotel (
    id bigint NOT NULL,
    activity_id bigint NOT NULL,
    hotel_id bigint NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.activity_hotel OWNER TO proyectofinal;

--
-- Name: activity_hotel_id_seq; Type: SEQUENCE; Schema: public; Owner: proyectofinal
--

CREATE SEQUENCE public.activity_hotel_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.activity_hotel_id_seq OWNER TO proyectofinal;

--
-- Name: activity_hotel_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: proyectofinal
--

ALTER SEQUENCE public.activity_hotel_id_seq OWNED BY public.activity_hotel.id;


--
-- Name: cache; Type: TABLE; Schema: public; Owner: proyectofinal
--

CREATE TABLE public.cache (
    key character varying(255) NOT NULL,
    value text NOT NULL,
    expiration integer NOT NULL
);


ALTER TABLE public.cache OWNER TO proyectofinal;

--
-- Name: cache_locks; Type: TABLE; Schema: public; Owner: proyectofinal
--

CREATE TABLE public.cache_locks (
    key character varying(255) NOT NULL,
    owner character varying(255) NOT NULL,
    expiration integer NOT NULL
);


ALTER TABLE public.cache_locks OWNER TO proyectofinal;

--
-- Name: categoria_hotel; Type: TABLE; Schema: public; Owner: proyectofinal
--

CREATE TABLE public.categoria_hotel (
    id bigint NOT NULL,
    hotele_id bigint NOT NULL,
    categoria_id bigint NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.categoria_hotel OWNER TO proyectofinal;

--
-- Name: categoria_hotel_id_seq; Type: SEQUENCE; Schema: public; Owner: proyectofinal
--

CREATE SEQUENCE public.categoria_hotel_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.categoria_hotel_id_seq OWNER TO proyectofinal;

--
-- Name: categoria_hotel_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: proyectofinal
--

ALTER SEQUENCE public.categoria_hotel_id_seq OWNED BY public.categoria_hotel.id;


--
-- Name: categorias; Type: TABLE; Schema: public; Owner: proyectofinal
--

CREATE TABLE public.categorias (
    id bigint NOT NULL,
    nombre character varying(255) NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.categorias OWNER TO proyectofinal;

--
-- Name: categorias_id_seq; Type: SEQUENCE; Schema: public; Owner: proyectofinal
--

CREATE SEQUENCE public.categorias_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.categorias_id_seq OWNER TO proyectofinal;

--
-- Name: categorias_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: proyectofinal
--

ALTER SEQUENCE public.categorias_id_seq OWNED BY public.categorias.id;


--
-- Name: failed_jobs; Type: TABLE; Schema: public; Owner: proyectofinal
--

CREATE TABLE public.failed_jobs (
    id bigint NOT NULL,
    uuid character varying(255) NOT NULL,
    connection text NOT NULL,
    queue text NOT NULL,
    payload text NOT NULL,
    exception text NOT NULL,
    failed_at timestamp(0) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.failed_jobs OWNER TO proyectofinal;

--
-- Name: failed_jobs_id_seq; Type: SEQUENCE; Schema: public; Owner: proyectofinal
--

CREATE SEQUENCE public.failed_jobs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.failed_jobs_id_seq OWNER TO proyectofinal;

--
-- Name: failed_jobs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: proyectofinal
--

ALTER SEQUENCE public.failed_jobs_id_seq OWNED BY public.failed_jobs.id;


--
-- Name: habitacione_reserva; Type: TABLE; Schema: public; Owner: proyectofinal
--

CREATE TABLE public.habitacione_reserva (
    id bigint NOT NULL,
    reserva_id bigint NOT NULL,
    habitacione_id bigint NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.habitacione_reserva OWNER TO proyectofinal;

--
-- Name: habitacione_reserva_id_seq; Type: SEQUENCE; Schema: public; Owner: proyectofinal
--

CREATE SEQUENCE public.habitacione_reserva_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.habitacione_reserva_id_seq OWNER TO proyectofinal;

--
-- Name: habitacione_reserva_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: proyectofinal
--

ALTER SEQUENCE public.habitacione_reserva_id_seq OWNED BY public.habitacione_reserva.id;


--
-- Name: habitaciones; Type: TABLE; Schema: public; Owner: proyectofinal
--

CREATE TABLE public.habitaciones (
    id bigint NOT NULL,
    num_habitacion integer NOT NULL,
    tipo_habitacion bigint NOT NULL,
    hotele_id bigint NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.habitaciones OWNER TO proyectofinal;

--
-- Name: habitaciones_id_seq; Type: SEQUENCE; Schema: public; Owner: proyectofinal
--

CREATE SEQUENCE public.habitaciones_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.habitaciones_id_seq OWNER TO proyectofinal;

--
-- Name: habitaciones_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: proyectofinal
--

ALTER SEQUENCE public.habitaciones_id_seq OWNED BY public.habitaciones.id;


--
-- Name: hoteles; Type: TABLE; Schema: public; Owner: proyectofinal
--

CREATE TABLE public.hoteles (
    id bigint NOT NULL,
    nombre_hotel character varying(255) NOT NULL,
    propietario_id bigint NOT NULL,
    descripcion text NOT NULL,
    direccion character varying(255) NOT NULL,
    ciudad character varying(255) NOT NULL,
    latitud numeric(10,8) NOT NULL,
    longitud numeric(11,8) NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    estado character varying(255) DEFAULT 'oculto'::character varying NOT NULL,
    politica_cancelacion json DEFAULT '[{"dias_antes":7,"porcentaje":100},{"dias_antes":3,"porcentaje":50}]'::json
);


ALTER TABLE public.hoteles OWNER TO proyectofinal;

--
-- Name: hoteles_id_seq; Type: SEQUENCE; Schema: public; Owner: proyectofinal
--

CREATE SEQUENCE public.hoteles_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.hoteles_id_seq OWNER TO proyectofinal;

--
-- Name: hoteles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: proyectofinal
--

ALTER SEQUENCE public.hoteles_id_seq OWNED BY public.hoteles.id;


--
-- Name: images; Type: TABLE; Schema: public; Owner: proyectofinal
--

CREATE TABLE public.images (
    id bigint NOT NULL,
    path character varying(255) NOT NULL,
    hotele_id bigint NOT NULL,
    is_primary boolean DEFAULT false NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.images OWNER TO proyectofinal;

--
-- Name: images_id_seq; Type: SEQUENCE; Schema: public; Owner: proyectofinal
--

CREATE SEQUENCE public.images_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.images_id_seq OWNER TO proyectofinal;

--
-- Name: images_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: proyectofinal
--

ALTER SEQUENCE public.images_id_seq OWNED BY public.images.id;


--
-- Name: job_batches; Type: TABLE; Schema: public; Owner: proyectofinal
--

CREATE TABLE public.job_batches (
    id character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    total_jobs integer NOT NULL,
    pending_jobs integer NOT NULL,
    failed_jobs integer NOT NULL,
    failed_job_ids text NOT NULL,
    options text,
    cancelled_at integer,
    created_at integer NOT NULL,
    finished_at integer
);


ALTER TABLE public.job_batches OWNER TO proyectofinal;

--
-- Name: jobs; Type: TABLE; Schema: public; Owner: proyectofinal
--

CREATE TABLE public.jobs (
    id bigint NOT NULL,
    queue character varying(255) NOT NULL,
    payload text NOT NULL,
    attempts smallint NOT NULL,
    reserved_at integer,
    available_at integer NOT NULL,
    created_at integer NOT NULL
);


ALTER TABLE public.jobs OWNER TO proyectofinal;

--
-- Name: jobs_id_seq; Type: SEQUENCE; Schema: public; Owner: proyectofinal
--

CREATE SEQUENCE public.jobs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.jobs_id_seq OWNER TO proyectofinal;

--
-- Name: jobs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: proyectofinal
--

ALTER SEQUENCE public.jobs_id_seq OWNED BY public.jobs.id;


--
-- Name: migrations; Type: TABLE; Schema: public; Owner: proyectofinal
--

CREATE TABLE public.migrations (
    id integer NOT NULL,
    migration character varying(255) NOT NULL,
    batch integer NOT NULL
);


ALTER TABLE public.migrations OWNER TO proyectofinal;

--
-- Name: migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: proyectofinal
--

CREATE SEQUENCE public.migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.migrations_id_seq OWNER TO proyectofinal;

--
-- Name: migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: proyectofinal
--

ALTER SEQUENCE public.migrations_id_seq OWNED BY public.migrations.id;


--
-- Name: model_has_permissions; Type: TABLE; Schema: public; Owner: proyectofinal
--

CREATE TABLE public.model_has_permissions (
    permission_id bigint NOT NULL,
    model_type character varying(255) NOT NULL,
    model_id bigint NOT NULL
);


ALTER TABLE public.model_has_permissions OWNER TO proyectofinal;

--
-- Name: model_has_roles; Type: TABLE; Schema: public; Owner: proyectofinal
--

CREATE TABLE public.model_has_roles (
    role_id bigint NOT NULL,
    model_type character varying(255) NOT NULL,
    model_id bigint NOT NULL
);


ALTER TABLE public.model_has_roles OWNER TO proyectofinal;

--
-- Name: ofertas; Type: TABLE; Schema: public; Owner: proyectofinal
--

CREATE TABLE public.ofertas (
    id bigint NOT NULL,
    hotel_id bigint NOT NULL,
    nombre character varying(255) NOT NULL,
    descuento_porcentaje numeric(5,2) NOT NULL,
    fecha_inicio date NOT NULL,
    fecha_fin date NOT NULL,
    activa boolean DEFAULT true NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.ofertas OWNER TO proyectofinal;

--
-- Name: ofertas_id_seq; Type: SEQUENCE; Schema: public; Owner: proyectofinal
--

CREATE SEQUENCE public.ofertas_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ofertas_id_seq OWNER TO proyectofinal;

--
-- Name: ofertas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: proyectofinal
--

ALTER SEQUENCE public.ofertas_id_seq OWNED BY public.ofertas.id;


--
-- Name: password_reset_tokens; Type: TABLE; Schema: public; Owner: proyectofinal
--

CREATE TABLE public.password_reset_tokens (
    email character varying(255) NOT NULL,
    token character varying(255) NOT NULL,
    created_at timestamp(0) without time zone
);


ALTER TABLE public.password_reset_tokens OWNER TO proyectofinal;

--
-- Name: permissions; Type: TABLE; Schema: public; Owner: proyectofinal
--

CREATE TABLE public.permissions (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    guard_name character varying(255) NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.permissions OWNER TO proyectofinal;

--
-- Name: permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: proyectofinal
--

CREATE SEQUENCE public.permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.permissions_id_seq OWNER TO proyectofinal;

--
-- Name: permissions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: proyectofinal
--

ALTER SEQUENCE public.permissions_id_seq OWNED BY public.permissions.id;


--
-- Name: reservas; Type: TABLE; Schema: public; Owner: proyectofinal
--

CREATE TABLE public.reservas (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    oferta_id bigint,
    estado character varying(255) NOT NULL,
    fecha_entrada date NOT NULL,
    fecha_salida date NOT NULL,
    precio_total numeric(8,2) NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    stripe_id character varying(255),
    monto_reembolsado numeric(10,2)
);


ALTER TABLE public.reservas OWNER TO proyectofinal;

--
-- Name: reservas_id_seq; Type: SEQUENCE; Schema: public; Owner: proyectofinal
--

CREATE SEQUENCE public.reservas_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.reservas_id_seq OWNER TO proyectofinal;

--
-- Name: reservas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: proyectofinal
--

ALTER SEQUENCE public.reservas_id_seq OWNED BY public.reservas.id;


--
-- Name: reviews; Type: TABLE; Schema: public; Owner: proyectofinal
--

CREATE TABLE public.reviews (
    id bigint NOT NULL,
    reserva_id bigint NOT NULL,
    valoracion integer NOT NULL,
    comentario text NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    user_id bigint NOT NULL,
    hotele_id bigint NOT NULL
);


ALTER TABLE public.reviews OWNER TO proyectofinal;

--
-- Name: reviews_id_seq; Type: SEQUENCE; Schema: public; Owner: proyectofinal
--

CREATE SEQUENCE public.reviews_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.reviews_id_seq OWNER TO proyectofinal;

--
-- Name: reviews_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: proyectofinal
--

ALTER SEQUENCE public.reviews_id_seq OWNED BY public.reviews.id;


--
-- Name: role_has_permissions; Type: TABLE; Schema: public; Owner: proyectofinal
--

CREATE TABLE public.role_has_permissions (
    permission_id bigint NOT NULL,
    role_id bigint NOT NULL
);


ALTER TABLE public.role_has_permissions OWNER TO proyectofinal;

--
-- Name: roles; Type: TABLE; Schema: public; Owner: proyectofinal
--

CREATE TABLE public.roles (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    guard_name character varying(255) NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.roles OWNER TO proyectofinal;

--
-- Name: roles_id_seq; Type: SEQUENCE; Schema: public; Owner: proyectofinal
--

CREATE SEQUENCE public.roles_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.roles_id_seq OWNER TO proyectofinal;

--
-- Name: roles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: proyectofinal
--

ALTER SEQUENCE public.roles_id_seq OWNED BY public.roles.id;


--
-- Name: servicio_hotel; Type: TABLE; Schema: public; Owner: proyectofinal
--

CREATE TABLE public.servicio_hotel (
    id bigint NOT NULL,
    servicio_id bigint NOT NULL,
    hotele_id bigint NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.servicio_hotel OWNER TO proyectofinal;

--
-- Name: servicio_hotel_id_seq; Type: SEQUENCE; Schema: public; Owner: proyectofinal
--

CREATE SEQUENCE public.servicio_hotel_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.servicio_hotel_id_seq OWNER TO proyectofinal;

--
-- Name: servicio_hotel_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: proyectofinal
--

ALTER SEQUENCE public.servicio_hotel_id_seq OWNED BY public.servicio_hotel.id;


--
-- Name: servicios; Type: TABLE; Schema: public; Owner: proyectofinal
--

CREATE TABLE public.servicios (
    id bigint NOT NULL,
    nombre_servicio character varying(255) NOT NULL,
    icono character varying(255),
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.servicios OWNER TO proyectofinal;

--
-- Name: servicios_id_seq; Type: SEQUENCE; Schema: public; Owner: proyectofinal
--

CREATE SEQUENCE public.servicios_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.servicios_id_seq OWNER TO proyectofinal;

--
-- Name: servicios_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: proyectofinal
--

ALTER SEQUENCE public.servicios_id_seq OWNED BY public.servicios.id;


--
-- Name: sessions; Type: TABLE; Schema: public; Owner: proyectofinal
--

CREATE TABLE public.sessions (
    id character varying(255) NOT NULL,
    user_id bigint,
    ip_address character varying(45),
    user_agent text,
    payload text NOT NULL,
    last_activity integer NOT NULL
);


ALTER TABLE public.sessions OWNER TO proyectofinal;

--
-- Name: tipos; Type: TABLE; Schema: public; Owner: proyectofinal
--

CREATE TABLE public.tipos (
    id bigint NOT NULL,
    tipo_habitacion character varying(255) NOT NULL,
    capacidad integer NOT NULL,
    precio_base numeric(8,2) NOT NULL,
    cantidad_habitacion integer NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.tipos OWNER TO proyectofinal;

--
-- Name: tipos_id_seq; Type: SEQUENCE; Schema: public; Owner: proyectofinal
--

CREATE SEQUENCE public.tipos_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tipos_id_seq OWNER TO proyectofinal;

--
-- Name: tipos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: proyectofinal
--

ALTER SEQUENCE public.tipos_id_seq OWNED BY public.tipos.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: proyectofinal
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    email_verified_at timestamp(0) without time zone,
    password character varying(255) NOT NULL,
    remember_token character varying(100),
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    two_factor_secret text,
    two_factor_recovery_codes text,
    two_factor_confirmed_at timestamp(0) without time zone,
    deleted_at timestamp(0) without time zone,
    profile_photo_url character varying(2048)
);


ALTER TABLE public.users OWNER TO proyectofinal;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: proyectofinal
--

CREATE SEQUENCE public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO proyectofinal;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: proyectofinal
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: activities id; Type: DEFAULT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.activities ALTER COLUMN id SET DEFAULT nextval('public.activities_id_seq'::regclass);


--
-- Name: activity_hotel id; Type: DEFAULT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.activity_hotel ALTER COLUMN id SET DEFAULT nextval('public.activity_hotel_id_seq'::regclass);


--
-- Name: categoria_hotel id; Type: DEFAULT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.categoria_hotel ALTER COLUMN id SET DEFAULT nextval('public.categoria_hotel_id_seq'::regclass);


--
-- Name: categorias id; Type: DEFAULT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.categorias ALTER COLUMN id SET DEFAULT nextval('public.categorias_id_seq'::regclass);


--
-- Name: failed_jobs id; Type: DEFAULT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.failed_jobs ALTER COLUMN id SET DEFAULT nextval('public.failed_jobs_id_seq'::regclass);


--
-- Name: habitacione_reserva id; Type: DEFAULT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.habitacione_reserva ALTER COLUMN id SET DEFAULT nextval('public.habitacione_reserva_id_seq'::regclass);


--
-- Name: habitaciones id; Type: DEFAULT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.habitaciones ALTER COLUMN id SET DEFAULT nextval('public.habitaciones_id_seq'::regclass);


--
-- Name: hoteles id; Type: DEFAULT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.hoteles ALTER COLUMN id SET DEFAULT nextval('public.hoteles_id_seq'::regclass);


--
-- Name: images id; Type: DEFAULT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.images ALTER COLUMN id SET DEFAULT nextval('public.images_id_seq'::regclass);


--
-- Name: jobs id; Type: DEFAULT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.jobs ALTER COLUMN id SET DEFAULT nextval('public.jobs_id_seq'::regclass);


--
-- Name: migrations id; Type: DEFAULT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.migrations ALTER COLUMN id SET DEFAULT nextval('public.migrations_id_seq'::regclass);


--
-- Name: ofertas id; Type: DEFAULT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.ofertas ALTER COLUMN id SET DEFAULT nextval('public.ofertas_id_seq'::regclass);


--
-- Name: permissions id; Type: DEFAULT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.permissions ALTER COLUMN id SET DEFAULT nextval('public.permissions_id_seq'::regclass);


--
-- Name: reservas id; Type: DEFAULT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.reservas ALTER COLUMN id SET DEFAULT nextval('public.reservas_id_seq'::regclass);


--
-- Name: reviews id; Type: DEFAULT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.reviews ALTER COLUMN id SET DEFAULT nextval('public.reviews_id_seq'::regclass);


--
-- Name: roles id; Type: DEFAULT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.roles ALTER COLUMN id SET DEFAULT nextval('public.roles_id_seq'::regclass);


--
-- Name: servicio_hotel id; Type: DEFAULT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.servicio_hotel ALTER COLUMN id SET DEFAULT nextval('public.servicio_hotel_id_seq'::regclass);


--
-- Name: servicios id; Type: DEFAULT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.servicios ALTER COLUMN id SET DEFAULT nextval('public.servicios_id_seq'::regclass);


--
-- Name: tipos id; Type: DEFAULT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.tipos ALTER COLUMN id SET DEFAULT nextval('public.tipos_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: activities; Type: TABLE DATA; Schema: public; Owner: proyectofinal
--

COPY public.activities (id, nombre_actividad, descripcion, precio, fecha_inicio, fecha_fin, capacidad, created_at, updated_at) FROM stdin;
1	AquaDiving	Para probar 2	50.00	\N	\N	10	2026-05-13 15:05:35	2026-05-13 15:08:46
\.


--
-- Data for Name: activity_hotel; Type: TABLE DATA; Schema: public; Owner: proyectofinal
--

COPY public.activity_hotel (id, activity_id, hotel_id, created_at, updated_at) FROM stdin;
1	1	2	\N	\N
\.


--
-- Data for Name: cache; Type: TABLE DATA; Schema: public; Owner: proyectofinal
--

COPY public.cache (key, value, expiration) FROM stdin;
laravel-cache-4b49b3936b53fdaff3cde3443b1c7135:timer	i:1778942150;	1778942150
laravel-cache-4b49b3936b53fdaff3cde3443b1c7135	i:1;	1778942150
laravel-cache-a6cf3449fbccdc26d9aeadb6f26b8c25:timer	i:1779284140;	1779284140
laravel-cache-a6cf3449fbccdc26d9aeadb6f26b8c25	i:1;	1779284140
\.


--
-- Data for Name: cache_locks; Type: TABLE DATA; Schema: public; Owner: proyectofinal
--

COPY public.cache_locks (key, owner, expiration) FROM stdin;
\.


--
-- Data for Name: categoria_hotel; Type: TABLE DATA; Schema: public; Owner: proyectofinal
--

COPY public.categoria_hotel (id, hotele_id, categoria_id, created_at, updated_at) FROM stdin;
1	1	1	2026-04-22 18:00:44	2026-04-22 18:00:44
2	1	5	2026-04-22 18:00:44	2026-04-22 18:00:44
\.


--
-- Data for Name: categorias; Type: TABLE DATA; Schema: public; Owner: proyectofinal
--

COPY public.categorias (id, nombre, created_at, updated_at) FROM stdin;
2	Boutique	2026-04-22 17:57:38	2026-04-22 17:57:38
3	Lujo	2026-04-22 17:57:38	2026-04-22 17:57:38
6	Negocios	2026-04-22 17:57:38	2026-04-22 17:57:38
1	HistÃ³rico	2026-04-22 17:57:38	2026-04-22 17:57:38
4	EconÃ³mico	2026-04-22 17:57:38	2026-04-22 17:57:38
5	RomÃ¡ntico	2026-04-22 17:57:38	2026-04-22 17:57:38
\.


--
-- Data for Name: failed_jobs; Type: TABLE DATA; Schema: public; Owner: proyectofinal
--

COPY public.failed_jobs (id, uuid, connection, queue, payload, exception, failed_at) FROM stdin;
\.


--
-- Data for Name: habitacione_reserva; Type: TABLE DATA; Schema: public; Owner: proyectofinal
--

COPY public.habitacione_reserva (id, reserva_id, habitacione_id, created_at, updated_at) FROM stdin;
5	5	13	\N	\N
6	6	14	\N	\N
8	8	14	\N	\N
9	9	14	\N	\N
\.


--
-- Data for Name: habitaciones; Type: TABLE DATA; Schema: public; Owner: proyectofinal
--



--
-- Data for Name: hoteles; Type: TABLE DATA; Schema: public; Owner: proyectofinal
--



--
-- Data for Name: images; Type: TABLE DATA; Schema: public; Owner: proyectofinal
--

COPY public.images (id, path, hotele_id, is_primary, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: job_batches; Type: TABLE DATA; Schema: public; Owner: proyectofinal
--

COPY public.job_batches (id, name, total_jobs, pending_jobs, failed_jobs, failed_job_ids, options, cancelled_at, created_at, finished_at) FROM stdin;
\.


--
-- Data for Name: jobs; Type: TABLE DATA; Schema: public; Owner: proyectofinal
--

COPY public.jobs (id, queue, payload, attempts, reserved_at, available_at, created_at) FROM stdin;
\.


--
-- Data for Name: migrations; Type: TABLE DATA; Schema: public; Owner: proyectofinal
--



--
-- Data for Name: model_has_permissions; Type: TABLE DATA; Schema: public; Owner: proyectofinal
--

COPY public.model_has_permissions (permission_id, model_type, model_id) FROM stdin;
\.


--
-- Data for Name: model_has_roles; Type: TABLE DATA; Schema: public; Owner: proyectofinal
--

COPY public.model_has_roles (role_id, model_type, model_id) FROM stdin;
1	App\\Models\\User	1
3	App\\Models\\User	2
\.


--
-- Data for Name: ofertas; Type: TABLE DATA; Schema: public; Owner: proyectofinal
--

COPY public.ofertas (id, hotel_id, nombre, descuento_porcentaje, fecha_inicio, fecha_fin, activa, created_at, updated_at) FROM stdin;
4	3	Atardeceres Mágicos	18.00	2024-05-01	2024-09-30	t	2026-04-20 17:54:40	2026-04-20 17:54:40
3	2	Otoño Sevillano	20.00	2024-09-01	2024-11-30	t	2026-04-20 17:54:40	2026-05-13 14:40:54
\.


--
-- Data for Name: password_reset_tokens; Type: TABLE DATA; Schema: public; Owner: proyectofinal
--

COPY public.password_reset_tokens (email, token, created_at) FROM stdin;
\.


--
-- Data for Name: permissions; Type: TABLE DATA; Schema: public; Owner: proyectofinal
--

COPY public.permissions (id, name, guard_name, created_at, updated_at) FROM stdin;
1	editar hoteles	web	2026-04-30 15:00:03	2026-04-30 15:00:03
\.


--
-- Data for Name: reservas; Type: TABLE DATA; Schema: public; Owner: proyectofinal
--



--
-- Data for Name: reviews; Type: TABLE DATA; Schema: public; Owner: proyectofinal
--

COPY public.reviews (id, reserva_id, valoracion, comentario, created_at, updated_at, user_id, hotele_id) FROM stdin;
3	9	5	Que buen hotel	2026-05-20 13:55:06	2026-05-20 13:55:06	1	1
\.


--
-- Data for Name: role_has_permissions; Type: TABLE DATA; Schema: public; Owner: proyectofinal
--

COPY public.role_has_permissions (permission_id, role_id) FROM stdin;
\.


--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: proyectofinal
--

COPY public.roles (id, name, guard_name, created_at, updated_at) FROM stdin;
1	admin	web	2026-04-30 15:00:03	2026-04-30 15:00:03
2	usuario	web	2026-04-30 15:00:03	2026-04-30 15:00:03
3	propietario	web	2026-04-30 15:00:03	2026-04-30 15:00:03
4	mantenimiento	web	2026-04-30 15:00:03	2026-04-30 15:00:03
\.


--
-- Data for Name: servicio_hotel; Type: TABLE DATA; Schema: public; Owner: proyectofinal
--

COPY public.servicio_hotel (id, servicio_id, hotele_id, created_at, updated_at) FROM stdin;
4	1	1	2026-04-22 18:00:38	2026-04-22 18:00:38
5	2	1	2026-04-22 18:00:38	2026-04-22 18:00:38
6	4	1	2026-04-22 18:00:38	2026-04-22 18:00:38
7	1	2	2026-05-13 13:58:49	2026-05-13 13:58:49
8	2	2	2026-05-13 13:58:49	2026-05-13 13:58:49
9	1	3	2026-05-16 14:34:32	2026-05-16 14:34:32
10	2	3	2026-05-16 14:34:32	2026-05-16 14:34:32
11	3	3	2026-05-16 14:59:45	2026-05-16 14:59:45
\.


--
-- Data for Name: servicios; Type: TABLE DATA; Schema: public; Owner: proyectofinal
--



--
-- Data for Name: sessions; Type: TABLE DATA; Schema: public; Owner: proyectofinal
--



--
-- Data for Name: tipos; Type: TABLE DATA; Schema: public; Owner: proyectofinal
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: proyectofinal
--

COPY public.users (id, name, email, email_verified_at, password, remember_token, created_at, updated_at, two_factor_secret, two_factor_recovery_codes, two_factor_confirmed_at, deleted_at, profile_photo_url) FROM stdin;
1	Majaron	admin@admin.com	\N	$2y$12$tTFB5tLZVWPKn3gqNFulBeTKtCHjh4EYyax7Iq2bDArflQMxfwmQW	\N	2026-04-14 19:17:51	2026-04-14 19:17:51	\N	\N	\N	\N	\N
2	Juan2	juan@gmail.com	\N	$2y$12$Kft0XUwMGin609qVvvBW.ed9xm6rsQnz.Tcgk7hHrEqVPMH3z971O	\N	2026-05-09 16:14:27	2026-05-13 14:05:24	\N	\N	\N	\N	\N
\.


--
-- Name: activities_id_seq; Type: SEQUENCE SET; Schema: public; Owner: proyectofinal
--

SELECT pg_catalog.setval('public.activities_id_seq', 1, true);


--
-- Name: activity_hotel_id_seq; Type: SEQUENCE SET; Schema: public; Owner: proyectofinal
--

SELECT pg_catalog.setval('public.activity_hotel_id_seq', 1, true);


--
-- Name: categoria_hotel_id_seq; Type: SEQUENCE SET; Schema: public; Owner: proyectofinal
--

SELECT pg_catalog.setval('public.categoria_hotel_id_seq', 2, true);


--
-- Name: categorias_id_seq; Type: SEQUENCE SET; Schema: public; Owner: proyectofinal
--

SELECT pg_catalog.setval('public.categorias_id_seq', 6, true);


--
-- Name: failed_jobs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: proyectofinal
--

SELECT pg_catalog.setval('public.failed_jobs_id_seq', 1, false);


--
-- Name: habitacione_reserva_id_seq; Type: SEQUENCE SET; Schema: public; Owner: proyectofinal
--

SELECT pg_catalog.setval('public.habitacione_reserva_id_seq', 9, true);


--
-- Name: habitaciones_id_seq; Type: SEQUENCE SET; Schema: public; Owner: proyectofinal
--

SELECT pg_catalog.setval('public.habitaciones_id_seq', 29, true);


--
-- Name: hoteles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: proyectofinal
--

SELECT pg_catalog.setval('public.hoteles_id_seq', 3, true);


--
-- Name: images_id_seq; Type: SEQUENCE SET; Schema: public; Owner: proyectofinal
--

SELECT pg_catalog.setval('public.images_id_seq', 1, false);


--
-- Name: jobs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: proyectofinal
--

SELECT pg_catalog.setval('public.jobs_id_seq', 1, false);


--
-- Name: migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: proyectofinal
--

SELECT pg_catalog.setval('public.migrations_id_seq', 27, true);


--
-- Name: ofertas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: proyectofinal
--

SELECT pg_catalog.setval('public.ofertas_id_seq', 4, true);


--
-- Name: permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: proyectofinal
--

SELECT pg_catalog.setval('public.permissions_id_seq', 1, true);


--
-- Name: reservas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: proyectofinal
--

SELECT pg_catalog.setval('public.reservas_id_seq', 9, true);


--
-- Name: reviews_id_seq; Type: SEQUENCE SET; Schema: public; Owner: proyectofinal
--

SELECT pg_catalog.setval('public.reviews_id_seq', 3, true);


--
-- Name: roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: proyectofinal
--

SELECT pg_catalog.setval('public.roles_id_seq', 4, true);


--
-- Name: servicio_hotel_id_seq; Type: SEQUENCE SET; Schema: public; Owner: proyectofinal
--

SELECT pg_catalog.setval('public.servicio_hotel_id_seq', 11, true);


--
-- Name: servicios_id_seq; Type: SEQUENCE SET; Schema: public; Owner: proyectofinal
--

SELECT pg_catalog.setval('public.servicios_id_seq', 8, true);


--
-- Name: tipos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: proyectofinal
--

SELECT pg_catalog.setval('public.tipos_id_seq', 9, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: proyectofinal
--

SELECT pg_catalog.setval('public.users_id_seq', 2, true);


--
-- Name: activities activities_pkey; Type: CONSTRAINT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.activities
    ADD CONSTRAINT activities_pkey PRIMARY KEY (id);


--
-- Name: activity_hotel activity_hotel_pkey; Type: CONSTRAINT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.activity_hotel
    ADD CONSTRAINT activity_hotel_pkey PRIMARY KEY (id);


--
-- Name: cache_locks cache_locks_pkey; Type: CONSTRAINT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.cache_locks
    ADD CONSTRAINT cache_locks_pkey PRIMARY KEY (key);


--
-- Name: cache cache_pkey; Type: CONSTRAINT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.cache
    ADD CONSTRAINT cache_pkey PRIMARY KEY (key);


--
-- Name: categoria_hotel categoria_hotel_pkey; Type: CONSTRAINT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.categoria_hotel
    ADD CONSTRAINT categoria_hotel_pkey PRIMARY KEY (id);


--
-- Name: categorias categorias_pkey; Type: CONSTRAINT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.categorias
    ADD CONSTRAINT categorias_pkey PRIMARY KEY (id);


--
-- Name: failed_jobs failed_jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.failed_jobs
    ADD CONSTRAINT failed_jobs_pkey PRIMARY KEY (id);


--
-- Name: failed_jobs failed_jobs_uuid_unique; Type: CONSTRAINT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.failed_jobs
    ADD CONSTRAINT failed_jobs_uuid_unique UNIQUE (uuid);


--
-- Name: habitacione_reserva habitacione_reserva_pkey; Type: CONSTRAINT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.habitacione_reserva
    ADD CONSTRAINT habitacione_reserva_pkey PRIMARY KEY (id);


--
-- Name: habitaciones habitaciones_pkey; Type: CONSTRAINT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.habitaciones
    ADD CONSTRAINT habitaciones_pkey PRIMARY KEY (id);


--
-- Name: hoteles hoteles_pkey; Type: CONSTRAINT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.hoteles
    ADD CONSTRAINT hoteles_pkey PRIMARY KEY (id);


--
-- Name: images images_pkey; Type: CONSTRAINT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.images
    ADD CONSTRAINT images_pkey PRIMARY KEY (id);


--
-- Name: job_batches job_batches_pkey; Type: CONSTRAINT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.job_batches
    ADD CONSTRAINT job_batches_pkey PRIMARY KEY (id);


--
-- Name: jobs jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT jobs_pkey PRIMARY KEY (id);


--
-- Name: migrations migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.migrations
    ADD CONSTRAINT migrations_pkey PRIMARY KEY (id);


--
-- Name: model_has_permissions model_has_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.model_has_permissions
    ADD CONSTRAINT model_has_permissions_pkey PRIMARY KEY (permission_id, model_id, model_type);


--
-- Name: model_has_roles model_has_roles_pkey; Type: CONSTRAINT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.model_has_roles
    ADD CONSTRAINT model_has_roles_pkey PRIMARY KEY (role_id, model_id, model_type);


--
-- Name: ofertas ofertas_pkey; Type: CONSTRAINT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.ofertas
    ADD CONSTRAINT ofertas_pkey PRIMARY KEY (id);


--
-- Name: password_reset_tokens password_reset_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT password_reset_tokens_pkey PRIMARY KEY (email);


--
-- Name: permissions permissions_name_guard_name_unique; Type: CONSTRAINT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT permissions_name_guard_name_unique UNIQUE (name, guard_name);


--
-- Name: permissions permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT permissions_pkey PRIMARY KEY (id);


--
-- Name: reservas reservas_pkey; Type: CONSTRAINT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.reservas
    ADD CONSTRAINT reservas_pkey PRIMARY KEY (id);


--
-- Name: reviews reviews_pkey; Type: CONSTRAINT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT reviews_pkey PRIMARY KEY (id);


--
-- Name: role_has_permissions role_has_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.role_has_permissions
    ADD CONSTRAINT role_has_permissions_pkey PRIMARY KEY (permission_id, role_id);


--
-- Name: roles roles_name_guard_name_unique; Type: CONSTRAINT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_name_guard_name_unique UNIQUE (name, guard_name);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: servicio_hotel servicio_hotel_pkey; Type: CONSTRAINT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.servicio_hotel
    ADD CONSTRAINT servicio_hotel_pkey PRIMARY KEY (id);


--
-- Name: servicios servicios_pkey; Type: CONSTRAINT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.servicios
    ADD CONSTRAINT servicios_pkey PRIMARY KEY (id);


--
-- Name: sessions sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_pkey PRIMARY KEY (id);


--
-- Name: tipos tipos_pkey; Type: CONSTRAINT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.tipos
    ADD CONSTRAINT tipos_pkey PRIMARY KEY (id);


--
-- Name: tipos tipos_tipo_habitacion_unique; Type: CONSTRAINT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.tipos
    ADD CONSTRAINT tipos_tipo_habitacion_unique UNIQUE (tipo_habitacion);


--
-- Name: users users_email_unique; Type: CONSTRAINT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_unique UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: cache_expiration_index; Type: INDEX; Schema: public; Owner: proyectofinal
--

CREATE INDEX cache_expiration_index ON public.cache USING btree (expiration);


--
-- Name: cache_locks_expiration_index; Type: INDEX; Schema: public; Owner: proyectofinal
--

CREATE INDEX cache_locks_expiration_index ON public.cache_locks USING btree (expiration);


--
-- Name: jobs_queue_index; Type: INDEX; Schema: public; Owner: proyectofinal
--

CREATE INDEX jobs_queue_index ON public.jobs USING btree (queue);


--
-- Name: model_has_permissions_model_id_model_type_index; Type: INDEX; Schema: public; Owner: proyectofinal
--

CREATE INDEX model_has_permissions_model_id_model_type_index ON public.model_has_permissions USING btree (model_id, model_type);


--
-- Name: model_has_roles_model_id_model_type_index; Type: INDEX; Schema: public; Owner: proyectofinal
--

CREATE INDEX model_has_roles_model_id_model_type_index ON public.model_has_roles USING btree (model_id, model_type);


--
-- Name: sessions_last_activity_index; Type: INDEX; Schema: public; Owner: proyectofinal
--

CREATE INDEX sessions_last_activity_index ON public.sessions USING btree (last_activity);


--
-- Name: sessions_user_id_index; Type: INDEX; Schema: public; Owner: proyectofinal
--

CREATE INDEX sessions_user_id_index ON public.sessions USING btree (user_id);


--
-- Name: activity_hotel activity_hotel_activity_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.activity_hotel
    ADD CONSTRAINT activity_hotel_activity_id_foreign FOREIGN KEY (activity_id) REFERENCES public.activities(id) ON DELETE CASCADE;


--
-- Name: activity_hotel activity_hotel_hotel_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.activity_hotel
    ADD CONSTRAINT activity_hotel_hotel_id_foreign FOREIGN KEY (hotel_id) REFERENCES public.hoteles(id) ON DELETE CASCADE;


--
-- Name: categoria_hotel categoria_hotel_categoria_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.categoria_hotel
    ADD CONSTRAINT categoria_hotel_categoria_id_foreign FOREIGN KEY (categoria_id) REFERENCES public.categorias(id) ON DELETE CASCADE;


--
-- Name: categoria_hotel categoria_hotel_hotele_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.categoria_hotel
    ADD CONSTRAINT categoria_hotel_hotele_id_foreign FOREIGN KEY (hotele_id) REFERENCES public.hoteles(id) ON DELETE CASCADE;


--
-- Name: habitacione_reserva habitacione_reserva_habitacione_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.habitacione_reserva
    ADD CONSTRAINT habitacione_reserva_habitacione_id_foreign FOREIGN KEY (habitacione_id) REFERENCES public.habitaciones(id) ON DELETE CASCADE;


--
-- Name: habitacione_reserva habitacione_reserva_reserva_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.habitacione_reserva
    ADD CONSTRAINT habitacione_reserva_reserva_id_foreign FOREIGN KEY (reserva_id) REFERENCES public.reservas(id) ON DELETE CASCADE;


--
-- Name: habitaciones habitaciones_hotele_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.habitaciones
    ADD CONSTRAINT habitaciones_hotele_id_foreign FOREIGN KEY (hotele_id) REFERENCES public.hoteles(id);


--
-- Name: habitaciones habitaciones_tipo_habitacion_foreign; Type: FK CONSTRAINT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.habitaciones
    ADD CONSTRAINT habitaciones_tipo_habitacion_foreign FOREIGN KEY (tipo_habitacion) REFERENCES public.tipos(id);


--
-- Name: hoteles hoteles_propietario_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.hoteles
    ADD CONSTRAINT hoteles_propietario_id_foreign FOREIGN KEY (propietario_id) REFERENCES public.users(id);


--
-- Name: images images_hotele_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.images
    ADD CONSTRAINT images_hotele_id_foreign FOREIGN KEY (hotele_id) REFERENCES public.hoteles(id) ON DELETE CASCADE;


--
-- Name: model_has_permissions model_has_permissions_permission_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.model_has_permissions
    ADD CONSTRAINT model_has_permissions_permission_id_foreign FOREIGN KEY (permission_id) REFERENCES public.permissions(id) ON DELETE CASCADE;


--
-- Name: model_has_roles model_has_roles_role_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.model_has_roles
    ADD CONSTRAINT model_has_roles_role_id_foreign FOREIGN KEY (role_id) REFERENCES public.roles(id) ON DELETE CASCADE;


--
-- Name: ofertas ofertas_hotel_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.ofertas
    ADD CONSTRAINT ofertas_hotel_id_foreign FOREIGN KEY (hotel_id) REFERENCES public.hoteles(id);


--
-- Name: reservas reservas_oferta_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.reservas
    ADD CONSTRAINT reservas_oferta_id_foreign FOREIGN KEY (oferta_id) REFERENCES public.ofertas(id);


--
-- Name: reservas reservas_user_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.reservas
    ADD CONSTRAINT reservas_user_id_foreign FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: reviews reviews_hotele_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT reviews_hotele_id_foreign FOREIGN KEY (hotele_id) REFERENCES public.hoteles(id) ON DELETE CASCADE;


--
-- Name: reviews reviews_reserva_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT reviews_reserva_id_foreign FOREIGN KEY (reserva_id) REFERENCES public.reservas(id);


--
-- Name: reviews reviews_user_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT reviews_user_id_foreign FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: role_has_permissions role_has_permissions_permission_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.role_has_permissions
    ADD CONSTRAINT role_has_permissions_permission_id_foreign FOREIGN KEY (permission_id) REFERENCES public.permissions(id) ON DELETE CASCADE;


--
-- Name: role_has_permissions role_has_permissions_role_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.role_has_permissions
    ADD CONSTRAINT role_has_permissions_role_id_foreign FOREIGN KEY (role_id) REFERENCES public.roles(id) ON DELETE CASCADE;


--
-- Name: servicio_hotel servicio_hotel_hotele_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.servicio_hotel
    ADD CONSTRAINT servicio_hotel_hotele_id_foreign FOREIGN KEY (hotele_id) REFERENCES public.hoteles(id) ON DELETE CASCADE;


--
-- Name: servicio_hotel servicio_hotel_servicio_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: proyectofinal
--

ALTER TABLE ONLY public.servicio_hotel
    ADD CONSTRAINT servicio_hotel_servicio_id_foreign FOREIGN KEY (servicio_id) REFERENCES public.servicios(id) ON DELETE CASCADE;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: proyectofinal
--

ALTER DEFAULT PRIVILEGES FOR ROLE proyectofinal IN SCHEMA public GRANT ALL ON SEQUENCES TO proyectofinal;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: proyectofinal
--

ALTER DEFAULT PRIVILEGES FOR ROLE proyectofinal IN SCHEMA public GRANT ALL ON TABLES TO proyectofinal;


--
-- PostgreSQL database dump complete
--

\unrestrict 3JHi4DNvJ423Veim7rhYyx0Ub1QQrquVLxS00MUrQAN1ftpPldAJKBjoVMoMWpG

